.logo{
	border-radius: 25px;
	border: solid silver;
	width: 200px;
	margin: 5px;
}

.navbar{
	background-color: #ff8243;			
}

.fa{
	padding: 5px;
}

ul{
	list-style: none;
	display: inline;
}

li{
	color: white;
	padding: 5px;
	margin: 5px;
}